@import url("shared.css");

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.375rem;
    background-color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom: 3px solid var(--primary-color);
    position: fixed;
    width: 100%;
    z-index: 999;
}

.header h1{
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-size: 2.6rem;
    font-weight: 600;
    margin-left: 1.5rem;
}

.header-btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 18.5rem;
    margin-right: 2rem;
}

.header-btns button {
    appearance: none;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: var(--secondary-font);
    text-align: center;
    height: 2.2rem;
    font-size: 0.8rem;
    transition: all 0.5s;
}

.header-btns button:hover {
    transform: scale(1.1);
}

.header-btns button:first-child {
    width: 8rem;
    font-weight: 600;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.header-btns button:last-child {
    width: 7rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    font-weight: 800;
}

.header-btns a {
    text-decoration: none;
}

.cadastrar {
    color: var(--primary-color);
}

.entrar {
    color: var(--white-color);
}

.home {
    padding-top: 13rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.desc-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.desc-container p{
    text-align: center;
    width: 50rem;
    padding: 1.8rem 1.2rem 1.8rem 1.2rem;
    background-color: var(--five-color) ;
    border-radius: 10px;
    margin-top: 2rem;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 1rem;
}


.desc-container button{
    width: 17.875rem;
    height: 3.8125rem;
    position: absolute;
    left: 39rem;
    top: 7rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--primary-color);
    border-radius: 5px;
    border: 0;
    color: var(--white-color);
    font-family: var(--primary-font);
    font-size: 1.1rem;
    font-weight: 700;
    transition: all 0.5s;
}

.desc-container button:hover{
    transform: scale(1.05);
}

.testimony-img {
    position: absolute;
    z-index: 0;
    bottom: 3rem;
    right: 1rem;
}

.testimonials {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #fff;
    border: 3px solid var(--primary-color);
    margin: 4rem 1.5rem 0 0;
    width: 23rem;
    height: 38rem;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.testimonials h1{
    background-color: var(--primary-color);
    border-radius: 5px;
    color: white;
    padding: 1rem 2rem 1rem 2rem;
    font-family: var(--primary-font);
    font-size: 1.5rem;
    margin: 1rem 0rem 1rem 0rem;
}

.testimony {
    font-family: var(--primary-font);
    width: 21rem;
    height: 7.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--five-color);
    border-radius: 15px;
    margin: 0.5rem 0rem 1.5rem 0rem;
}

.testimony p{
   font-size: 14px;
   margin: 0rem 0rem 0.5rem 1rem;
}

.user {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    margin: 1rem 0rem 0.5rem 0.5rem;
}

.user h4{
    font-size: 15px;
    margin-left: 0.5rem;
}

.date {
    text-align: right;
    margin-right: 1rem;
    font-size: 12px;
}

.carrossel {
    margin: 1rem 0rem 1rem 0rem;
}