@import url("shared.css");

.register {
    display: grid;
    grid-template-columns: 1.6fr 3fr;
}

.cadastro-title {
    font-family: var(--primary-font);
    font-size: 20px;
    border-bottom: 5px solid var(--primary-color);
    width: 16vw;
    text-align: center;
    color: #242424;
    padding-bottom: 0.5rem;
}

.form-container {
    height: 100vh;
    border-right: 2px solid var(--primary-color);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-container {
    background-image: url(../img/Background\ Cadastro.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro-form {
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-dados, .form-endereco {
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fieldset-title {
    font-family: var(--primary-font);
    padding: 0.7rem 1.2rem 0.7rem 1.2rem;
    background-color: var(--primary-color);
    color: #242424;
    border: 1px solid var(--four-color);
    border-radius: 10px;
    font-size: 18px;
    margin: 2rem 0rem 2rem 0rem;
    width: 5rem;
    text-align: center;
}

.logo {
    width: 50%;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.input-container label{
    margin-bottom: 0.4rem;
    width: 100%;
}