*{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
}

:root{
    --primary-color: rgba(255, 207, 0, 1);
    --secundary-color: rgba(0, 0, 0, 1);
    --tertiary-color: rgba(56, 56, 56, 1);

    /*  Adicinado pela BRANCH CASSIO    */

    --four-color: #F2F2F2;
    --five-color: rgba(217, 217, 217, 0.5);
    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
    --bg-color: #F2F2F2;
    --white-color: #fff;

    /*  Adicinado pela BRANCH CASSIO    */
}